# Distribution / packaging
.Python
venv/
build/
node_modules/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__

# Serverless directories
.serverless
serverless_sdk/