{
    "extends": "airbnb",
    "rules": {
        "jsx-a11y/click-events-have-key-events": 0,
        "indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4]
    }
}